* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#formulario {
  background-color: #A5D8FF;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 1px 16px;
  border-radius: 8px;
  width: 550px;
}