/* Estilos generales */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Caja principal */
.contenedor1 {
  width: 100%;
  max-width: 500px;
  color: #737373;
}

.contenedor2 {
  background: #1a1a1a;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
}

.logo {
  margin-bottom: 0px;
}

.logo img {
  width: 100px;   /* ajusta el tamaño según prefieras */
  display: block;
  margin: 0 auto; /* centra la imagen */
}


.redes {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.social {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2c2c2c;
  border-radius: 4px;
  overflow: hidden;
}

.social img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Inputs */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

select {
  padding: 10px;
  border: none;
  border-radius: 4px;
  outline: none;
  background: #2c2c2c;
  color: white;
}
input {
  padding: 10px;
  border: none;
  border-radius: 4px;
  outline: none;
  background: #2c2c2c;
  color: white;
}

.columna {
  display: flex;
  gap: 10px;
}

label {
  font-size: 12px;
  text-align: left;
}

a {
  color: #00adee;
  text-decoration: none;
}



/* Botón */
.btn {
  background: #000;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.btn:hover {
  background: #222;
}
.link{
    color: white;
}

/* Footer */
.footer {
  margin-top: 20px;
  font-size: 12px;
  color: #aaa;
}
